<nav class="navbar bg-body-tertiary">

    <a class="navbar-brand" [routerLink]="['/']">Aay! Profe</a>

</nav>

<div class="container">

  <h3>
    Requerimientos de la Base de Datos para la Gestión de Extintores
  </h3>
  <ul>
    <li>
      <b>
        Tipos de Extintores:
      </b>
      La base debe ser capaz de gestionar diferentes tipos de extintores. Cada tipo de extintor es adecuado para diferentes tipos de incendios, lo cual debe ser registrado. Por ejemplo, algunos extintores son adecuados para incendios de tipo A (combustibles sólidos), otros para tipo B (líquidos inflamables), etc.
    </li>
    <li>
      <b>
        Capacidad del Extintor:
      </b>
      Cada extintor tiene una capacidad específica medida en libras, que indica la cantidad de agente extinguidor que puede contener. Este dato es crucial para determinar la idoneidad del extintor para un espacio determinado.
    </li>
    <li>
      <b>
        Ubicación de los Extintores:
      </b>
      Los extintores deben estar asignados a ubicaciones específicas dentro de la institución, como salones, oficinas o laboratorios. Es importante registrar con precisión dónde se encuentra cada extintor para facilitar su acceso rápido en caso de incendio y para llevar a cabo inspecciones y mantenimientos rutinarios.
    </li>
    <li>
      <b>
        Capacidad de Múltiples Extintores en una Ubicación:
      </b>
      En una ubicación específica pueden existir varios extintores. Por lo tanto, la base de datos debe poder manejar múltiples registros de extintores para una sola ubicación.
    </li>
    <li>
      <b>
        Fechas de Mantenimiento:
      </b>
      Cada extintor debe tener registradas dos fechas importantes:
    </li>
    <li>
      <b>
        Fecha de Carga:
      </b>
      La fecha en la que el extintor fue cargado por última vez con su agente extinguidor.
    </li>
    <li>
      <b>
        Fecha de Vencimiento:
      </b>
      La fecha en la que el extintor debe ser recargado o reemplazado, lo que es crucial para garantizar su funcionamiento efectivo en caso de emergencia.
    </li>
  </ul>
</div>


